[Unit]
Description=DGX autoswitcher
Wants=network-online.target
After=network.target


[Service]
Type=simple
User=romua1d
WorkingDirectory=/opt/dgx_auto_switcher
ExecStart=/opt/dgx_auto_switcher/main.py
Restart=always

[Install]
WantedBy=multi-user.target
