[Unit]
Description=DGX autoswitcher
After=sound.target

[Service]
Type=simple
User=romua1d
WorkingDirectory=/opt/dgx_auto_switcher
ExecStart=/opt/dgx_auto_switcher/main.py
Restart=always
StandardInput=tty-force

[Install]
WantedBy=default.target
